<template>
	<v-app dark>
		<v-app-bar
			app
		>
		<v-layout justify-center>
			<h1>Vue Multi-items Carousel Demo</h1>
		</v-layout>
		</v-app-bar>
		<v-content>
			<v-container>
				<nuxt />
			</v-container>
		</v-content>
		<v-footer
			app
		>
			<span>Rotem Revivo &copy; 2019 - vmic</span>
		</v-footer>
	</v-app>
</template>
