<template>
	<v-container fluid grid-list-xl ref="contain" v-resize="onResize">
		<v-layout column justify-center align-center>
			<v-flex xs2>
				<v-select v-model="type" :items="Object.keys(items)"/>
			</v-flex>
			<multiItemsCarousel
				:key="nitems"
				:items="items[`${type}`]"
				:itemsNum="nitems"
				:height="height"
			>
				<template slot-scope="props">
					<v-img v-if="type === 'images'" :src="props.url" :width="width" :height="height"></v-img>
					<div v-else-if="type === 'text'">{{props.text}}</div>
					<NewsCard v-else-if="type === 'cards'" v-bind="props"/>
				</template>
			</multiItemsCarousel>
		</v-layout>
		<h2 class="mt-5">Settings:</h2>
		<v-layout align-left justify-left row>
			<v-flex xs3>
				<h3>Number of visible items:</h3>
			</v-flex>
			<v-select v-model="nitems" :items="number"/>
		</v-layout>
		<v-layout align-left justify-left row>
			<v-flex xs3>
				<h3>Carousel Height:</h3>
			</v-flex>
			<v-text-field v-model="height"/>
		</v-layout>
		<v-layout align-left justify-left row>
			<v-flex xs3>
				<h3>Images of equal size:</h3>
			</v-flex>
			<v-switch v-model="eqwidth" :label="`${eqwidth}`"/>
		</v-layout>
	</v-container>
</template>

<script>
import { multiItemsCarousel } from "vmic";
import NewsCard from "@/components/newsCard";

export default {
	components: {
		multiItemsCarousel,
		NewsCard
	},
	mounted() {
		this.w = this.$refs.contain.clientWidth;
	},
	computed: {
		width() {
			if (this.eqwidth) return this.w / this.nitems;
			else return -1;
		}
	},
	data: () => ({
		type: "images",
		items: {
			images: [
				{
					url:
						"https://cdn.pixabay.com/photo/2015/09/09/16/05/forest-931706_960_720.jpg"
				},
				{
					url:
						"https://cdn.pixabay.com/photo/2018/06/09/17/25/trees-3464777_960_720.jpg"
				},
				{
					url:
						"https://cdn.pixabay.com/photo/2016/09/03/23/18/rose-1642970_960_720.jpg"
				},
				{
					url:
						"https://cdn.pixabay.com/photo/2012/11/19/02/10/roses-66527_960_720.jpg"
				},
				{
					url:
						"https://cdn.pixabay.com/photo/2016/01/02/00/42/lavender-1117275_960_720.jpg"
				}
			],
			cards: [
				{
					text:
						"In the BMBF-funded IDSN project we build a data integration platform for the German Center for Neurodegenerative Diseases with partners from the SCAI (Fraunhofer-Society) and the University Clinic Bonn. Automated data integration of internal and external structured and unstructured data should allow researchers to query and analyze data across disciplines, giving unprecedented insights into neurodegeneration",
					title: "1",
					index: 0
				},
				{
					text:
						"In the SFB 1286 we are integrating various data types to obtain quantitative insights in the synapse function in health and disease. Our role is to build the data integration platform and extract relevant information using statistical, probabalistic, and machine learning approaches. Uncovering the mechanistic dynamics of synapses will help us understand",
					title: "2",
					index: 1
				},
				{
					text:
						"In this DFG funded project we explore the epigenetic basis of learning and memory storage in the rodent brain. We are using cell type and brain region-specific DNA methylation, histone modification, RNA expression and splicing information at different time points in time to elucidate the ENGRAM, the cellular equivalent of a memory trace. This epigenetic model in health will ultimately be extended to neurodevelopmental and neuropsychiatric disease where mutation epigenome regulators play a crucial role.",
					title: "3",
					index: 2
				},
				{
					text:
						"In the BMBF-funded IDSN project we build a data integration platform for the German Center for Neurodegenerative Diseases with partners from the SCAI (Fraunhofer-Society) and the University Clinic Bonn. Automated data integration of internal and external structured and unstructured data should allow researchers to query and analyze data across disciplines, giving unprecedented insights into neurodegeneration",
					title: "4",
					index: 3
				}
			],
			text: [
				{
					text:
						"In the BMBF-funded IDSN project we build a data integration platform for the German Center for Neurodegenerative Diseases with partners from the SCAI (Fraunhofer-Society) and the University Clinic Bonn. Automated data integration of internal and external structured and unstructured data should allow researchers to query and analyze data across disciplines, giving unprecedented insights into neurodegeneration"
				},
				{
					text:
						"In the SFB 1286 we are integrating various data types to obtain quantitative insights in the synapse function in health and disease. Our role is to build the data integration platform and extract relevant information using statistical, probabalistic, and machine learning approaches. Uncovering the mechanistic dynamics of synapses will help us understand"
				},
				{
					text:
						"In this DFG funded project we explore the epigenetic basis of learning and memory storage in the rodent brain. We are using cell type and brain region-specific DNA methylation, histone modification, RNA expression and splicing information at different time points in time to elucidate the ENGRAM, the cellular equivalent of a memory trace. This epigenetic model in health will ultimately be extended to neurodevelopmental and neuropsychiatric disease where mutation epigenome regulators play a crucial role."
				}
			]
		},
		nitems: 3,
		height: 500,
		number: [1, 2, 3, 4, 5, 6],
		eqwidth: true,
		w: 0
	}),
	methods: {
		onResize() {
			if (window.innerWidth < 710) this.nitems = 1;
			else if (window.innerWidth > 600 && window.innerWidth < 1260)
				this.nitems = 2;
			else if (window.innerWidth > 1260) this.nitems = 3;
		}
	}
};
</script>
